# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Data outputs
data/processed/

# Logs
logs/

# Airflow
airflow/
